
.header {
    -fx-font-weight: bold;
    -fx-text-fill: #2c3e50;
}

.button {
    -fx-background-color: #3498db;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 5 10;
}

.button:hover {
    -fx-background-color: #2980b9;
}

.table-view {
    -fx-base: #ecf0f1;
    -fx-control-inner-background: #ecf0f1;
    -fx-background-color: #ecf0f1;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
    -fx-padding: 5;
}

.table-view .column-header-background {
    -fx-background-color: #bdc3c7;
}

.table-view .column-header, .table-view .filler {
    -fx-background-color: transparent;
    -fx-size: 35;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: transparent transparent derive(-fx-base, 80%) transparent;
}

.table-view .column-header .label {
    -fx-font-weight: bold;
    -fx-text-fill: #2c3e50;
    -fx-alignment: CENTER_LEFT;
}

.text-field, .password-field, .combo-box {
    -fx-background-color: #ecf0f1;
    -fx-border-color: #bdc3c7;
    -fx-border-radius: 3;
    -fx-padding: 5;
}










